.article__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.article__host {
  display: flex;
  align-items: center;
}

.article__host img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}

.article__host h3 {
  font-size: 12px;
  font-weight: 500;
  white-space: pre-wrap;
  text-align: right;
  margin: 0 10px 0 0;
}

.article__title {
  font-size: 18px;
  font-weight: 500;
}

.article__location {
  font-size: 14px;
  font-weight: 500;
}

@media (min-width: 640px) {
  .article__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .article__profile {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .article__host {
    order: 1;
    margin-bottom: 20px;
  }

  .article__host img {
    height: 64px;
    width: 64px;
  }

  .article__host h3 {
    font-size: 18px;
  }

  .article__rating {
    order: 2;
  }

  .article__details {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
  }

  .article__title {
    font-size: 36px;
  }

  .article__location {
    font-size: 18px;
  }
}
