nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px !important;
}

.nav__logo {
  height: 47px;
}

.menu {
  display: flex;
  align-items: center;
  padding: 0;
}

.menu__link {
  margin-left: 20px;
  text-decoration: none;
  color: #ff6060;
  font-weight: 500;
}

.menu__link:hover {
  text-decoration: underline;
}
