@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

html,
body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  font-size: 12px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
